/* Global Styles */
body {
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

/* App Container */
.App {
  text-align: center;
}

.navbar-container {
  background-color: #001f3f;
}

/* Buttons */
.btn-primary {
  background-color: #001f3f;
  border: none;
}

.btn-primary:hover {
  background-color: #00509d;
}

/* Navbar Styles */
.navbar {
  background-color: #001f3f;
}

.navbar-brand, .nav-link {
  color: #ffffff !important;
}

.nav-link.active, .nav-link:hover {
  color: #f8f9fa !important;
}

/* Sidebar Styles */
.sidebar {
  background-color: #001f3f;
  color: white;
  padding: 20px;
  height: 100%;
}

.sidebar a {
  color: #ffffff;
}

.sidebar a:hover {
  color: #adb5bd;
}

.main-content {
  background-color: #ffffff;
  padding: 20px;
  margin-left: 280px; /* Sidebar width */
}

/* Form Styling */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

form h3 {
  color: #001f3f;
}

label {
  display: block;
  margin-top: 10px;
  color: #001f3f;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #001f3f;
  color: white;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: #6c757d;
}

/* Card Styling */
.card {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #001f3f;
}
