/* Navbar.js */
.login-signup-nav{
    display: flex;
}

/* Sidebar.js */
body {
    display: flex;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    z-index: 1000; /* Ensure the sidebar is above other content */
  }
  
  .main-content {
    flex: 1;
    margin-left: 280px; /* Width of the sidebar */
    padding: 20px; /* Adjust as needed */
    overflow-x: auto;
  }
